Project 3: Automating an ETL with Python Automate data tasks.

Import Libraries

In [36]:

import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime

1. LOAD

In [37]:
df = pd.read_csv("Customer_support_data.csv")
print(df.head())

                              Unique id channel_name         category  \
0  7e9ae164-6a8b-4521-a2d4-58f7c9fff13f      Outcall  Product Queries
1  b07ec1b0-f376-43b6-86df-ec03da3b2e16      Outcall  Product Queries
2  200814dd-27c7-4149-ba2b-bd3af3092880      Inbound    Order Related
3  eb0d3e53-c1ca-42d3-8486-e42c8d622135      Inbound          Returns
4  ba903143-1e54-406c-b969-46c52f92e5df      Inbound     Cancellation

                   Sub-category Customer Remarks  \
0                Life Insurance              NaN
1  Product Specific Information              NaN
2             Installation/demo              NaN
3        Reverse Pickup Enquiry              NaN
4                    Not Needed              NaN

                               Order_id order_date_time Issue_reported at  \
0  c27c9bb4-fa36-4140-9f1f-21009254ffdb             NaN  01/08/2023 11:13
1  d406b0c7-ce17-4654-b9de-f08d421254bd             NaN  01/08/2023 12:52
2  c273368d-b961-44cb-beaf-62d6fd6c00d5             NaN  01/08/2023 20:16
3  5aed0059-55a4-4ec6-bb54-97942092020a             NaN  01/08/2023 20:56
4  e8bed5a9-6933-4aff-9dc6-ccefd7dcde59             NaN  01/08/2023 10:30

    issue_responded Survey_response_Date Customer_City Product_category  \
0  01/08/2023 11:47            01-Aug-23           NaN              NaN
1  01/08/2023 12:54            01-Aug-23           NaN              NaN
2  01/08/2023 20:38            01-Aug-23           NaN              NaN
3  01/08/2023 21:16            01-Aug-23           NaN              NaN
4  01/08/2023 10:32            01-Aug-23           NaN              NaN

   Item_price  connected_handling_time           Agent_name      Supervisor  \
0         NaN                      NaN     Richard Buchanan     Mason Gupta
1         NaN                      NaN        Vicki Collins       Dylan Kim
2         NaN                      NaN         Duane Norman    Jackson Park
3         NaN                      NaN       Patrick Flores     Olivia Wang
4         NaN                      NaN  Christopher Sanchez  Austin Johnson

           Manager    Tenure Bucket Agent Shift  CSAT Score
0  Jennifer Nguyen  On Job Training     Morning           5
1      Michael Lee              >90     Morning           5
2      William Kim  On Job Training     Evening           5
3       John Smith              >90     Evening           5
4      Michael Lee             0-30     Morning           5

2. TRANSFORM

1. Rename columns (replace spaces with underscores and lowercase)

In [38]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

2. Convert date columns to datetime

In [40]:
date_columns = ["issue_reported_at", "issue_responded", "survey_response_date"]
for col in date_columns:
    df[col] = pd.to_datetime(df[col], format='%d-%m-%Y %H:%M', errors='coerce')
    df[col] = pd.to_datetime(df[col], errors="coerce", dayfirst=True)

In [41]:
print(df[["issue_reported_at", "issue_responded", "survey_response_date"]].dtypes)
print(df[["issue_reported_at", "issue_responded", "survey_response_date"]].head())

issue_reported_at       datetime64[ns]
issue_responded         datetime64[ns]
survey_response_date    datetime64[ns]
dtype: object
    issue_reported_at     issue_responded survey_response_date
0 2023-08-01 11:13:00 2023-08-01 11:47:00           2023-08-01
1 2023-08-01 12:52:00 2023-08-01 12:54:00           2023-08-01
2 2023-08-01 20:16:00 2023-08-01 20:38:00           2023-08-01
3 2023-08-01 20:56:00 2023-08-01 21:16:00           2023-08-01
4 2023-08-01 10:30:00 2023-08-01 10:32:00           2023-08-01

3. Remove unnecessary columns with too many nulls

In [42]:
cols_to_drop = ["customer_remarks", "order_date_time", "customer_city", 
                "product_category", "connected_handling_time"]
df.drop(columns=cols_to_drop, inplace=True)

4. Add new column: response_time_minutes

In [43]:
df["issue_reported_at"] = pd.to_datetime(df["issue_reported_at"], errors="coerce")
df["issue_responded"] = pd.to_datetime(df["issue_responded"], errors="coerce")
df["response_time_minutes"] = (df["issue_responded"] - df["issue_reported_at"]).dt.total_seconds() / 60

5. Add ETL timestamp

In [44]:
df["etl_loaded_at"] = datetime.now()

Connect to PostgreSQL

In [45]:
engine = create_engine('postgresql+psycopg2://postgres:3131@localhost:5432/Customer_Support')

Load into a new table

In [46]:
df.to_sql("customer_support_cleaned", engine, if_exists="replace", index=False)
print("✅ ETL process completed and data loaded into PostgreSQL.")

✅ ETL process completed and data loaded into PostgreSQL.